@charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
@font-face {
    font-family: Heydings_icons;
    src: url(../font/heydings_icons.ttf) format('truetype'),
        url(../font/heydings_icons.otf) format('opentype'),
        url(../font/heydings_icons.woff) format('woff');
}
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

* { margin:0; padding:0;}
html, body { width: 100%; height: 100%;}

body {
    font-size               : 16px;
    font-family             : Cabin, sans-serif;
    font-weight             : normal;
    color                   : #333333;
}

.clear_fix { content:'.'; display:block; clear:both; height:0; visibility:hidden;}

.contentor { margin: 0 auto; width: 90%; max-width: 1200px;}

h1 {
    font-family             : Raleway;
    text-transform          : uppercase;
    font-weight             : 800;
    color                   : #F9BF3B;
    font-size               : 3em;
    margin-bottom           : 25px;
}

/*--------------------LOADING--------------------*/

/*-------------ANIMAÇÃO DE LOADING-------------*/
@-webkit-keyframes blaAnim { from {left: -50%; opacity: 0.1;} to {left: 50%; opacity: 1;}}
@-moz-keyframes blaAnim { from {left: -50%; opacity: 0.1;} to {left: 50%; opacity: 1;}}
@-o-keyframes blaAnim { from {left: -50%; opacity: 0.1;} to {left: 50%; opacity: 1;}}
@keyframes blaAnim { from {left: -50%; opacity: 0.1;} to {left: 50%; opacity: 1;}}

@-webkit-keyframes quadAnim { from {left: 150%; opacity: 0.1;} to {left: 50%; opacity: 1;}}
@-moz-keyframes quadAnim { from {left: 150%; opacity: 0.1;} to {left: 50%; opacity: 1;}}
@-o-keyframes quadAnim { from {left: 150%; opacity: 0.1;} to {left: 50%; opacity: 1;}}
@keyframes quadAnim { from {left: 150%; opacity: 0.1;} to {left: 50%; opacity: 1;}}


.loading, .load_principal {
    position                : fixed;
    background-color        : #E2E2E2;
    cursor                  : wait;
    width                   : 100%;
    height                  : 100%;
    top                     : 0;
    left                    : 0;
    z-index                 : 20;
}

.load_principal img {
    position                : fixed;
    top                     : 50%;
    left                    : 50%;
}

#logo_pri {
    margin                  : -37px 0 0 -126px;
    
    -webkit-animation       : blaAnim 1.5s ease-out;
    -moz-animation          : blaAnim 1.5s ease-out;
    -o-animation            : blaAnim 1.5s ease-out;
    animation               : blaAnim 1.5s ease-out;
}

#logo_seg {
    margin                  : -37px 0 0 52px;
    
    -webkit-animation       : quadAnim 1.5s ease-out;
    -moz-animation          : quadAnim 1.5s ease-out;
    -o-animation            : quadAnim 1.5s ease-out;
    animation               : quadAnim 1.5s ease-out;
}

/*--------------------POP UP--------------------*/
#news_cont { clear:left; text-align: center;}

.newsletter_space {
    display                 : none; /*POP UP Desligado*/
    background-color        : rgba(51,51,51,0.95);
    position                : fixed;
    width                   : 100%;
    height                  : 100%;
    top                     : 0;
    left                    : 0;
    z-index                 : 15;
}

.newsletter_space_index { display: block;}

.newletter_box {
    position                : fixed;
    background-color        : #FFF;
    width                   : 400px;
    height                  : 220px;
    top                     : 50%;
    left                    : 50%;
    margin                  : -110px 0 0 -200px;
    border-bottom           : 7px solid #F9BF3B;
    box-sizing              : border-box;
    overflow                : hidden;   
    
    -webkit-box-shadow      : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow         : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    -ms-box-shadow          : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    -o-box-shadow           : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    box-shadow              : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
}

.newletter_box .fechar_newsletter {
    position                : absolute;
    cursor                  : pointer;
    width                   : 30px;
    height                  : 30px;
    top                     : 2px;
    right                   : 2px;
}

.newletter_box .fechar_newsletter span {
    position                : absolute;
    background-color        : #333;
    width                   : 30px;
    height                  : 2px;
    top                     : 15px;
}

.newletter_box .fechar_newsletter:hover span {
    background-color        : red;
}

.newletter_box .fechar_newsletter span:first-child {
    
    -webkit-transform       : rotate(45deg);
    -moz-transform          : rotate(45deg);
    -ms-transform           : rotate(45deg);
    -o-transform            : rotate(45deg);
    transform               : rotate(45deg);
}

.newletter_box .fechar_newsletter span:last-child {
    
    -webkit-transform       : rotate(-45deg);
    -moz-transform          : rotate(-45deg);
    -ms-transform           : rotate(-45deg);
    -o-transform            : rotate(-45deg);
    transform               : rotate(-45deg);
}

#news_cont h2 {
    font-family             : Raleway;
    font-weight             : bold;
    padding                 : 0;
    margin                  : 15px 0;
    font-size               : 30px;
    text-align              : center;
    color                   : #F9BF3B;
    text-transform          : uppercase;
}

#news_cont p {
    font-family             : Raleway;
    font-size               : 18px;
    font-weight             : 400;
    text-align              : center;
    margin                  : 0 20px 35px 20px;
}

#news_cont #botao_recrut {
    font-weight             : bold;
    color                   : #F9BF3B;
    text-decoration         : none;
    text-transform          : uppercase;
    padding                 : 0.6em 1em;
    border                  : 0.15em solid #F9BF3B;
    text-align              : center;
    
    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
    -ms-border-radius       : 5px;
    -o-border-radius        : 5px;
    border-radius           : 5px;
    
    box-sizing              : border-box;
}

#news_cont #botao_recrut:hover {
    background-color        : #F9BF3B;
    color                   : #FFF;
}


/*--------------------FIM | POP UP NEWSLETTER--------------------*/

/*--------------------NAV LATERAL--------------------*/
.nav_lateral {
    position: fixed;
    
    right                   : -webkit-calc(5% - 25px);
    right                   : -moz-calc(5% - 25px);
    right                   : -ms-calc(5% - 25px);
    right                   : -o-calc(5% - 25px);
    right                   : calc(5% - 25px);
    
    top                     : 50%;
    z-index                 : 7;
}

.nav_lateral a {
    /*font-family             : Heydings_icons;
    color                   : #FFF;
    text-align              : center;
    text-decoration         : none;*/
    
    width                   : 17px;
    height                  : 17px;
    display                 : block;
    margin-bottom           : 10px;
    border                  : 2px solid #F9BF3B;
    
    -webkit-border-radius   : 100%;
    -moz-border-radius      : 100%;
    -ms-border-radius       : 100%;
    -o-border-radius        : 100%;
    border-radius           : 100%;
    
    box-sizing              : border-box;
}

.nav_lateral .nav_lateral_active {
    background-color        : #F9BF3B;
}


/*--------------------HEADER--------------------*/
header { width: 100%; height: 100%; z-index: 0;}

/*--------------------MAIN MENU--------------------*/
.main_menu {
    background-color        : rgba(255,255,255,1);
    position                : fixed;
    width                   : 100%;
    height                  : 93px;
    padding                 : 10px 0 10px 0;
    z-index                 : 10;
    box-sizing              : border-box;
    
    -webkit-box-shadow      : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow         : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    -ms-box-shadow          : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    -o-box-shadow           : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    box-shadow              : 0 0 0 1px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
    
    -webkit-transition      : 0.2s;
    -moz-transition         : 0.2s;
    -ms-transition          : 0.2s;
    -o-transition           : 0.2s;
    transition              : 0.2s;
}

.bla_logo {
    float                   : left;
    
    -webkit-transition      : 0.2s;
    -moz-transition         : 0.2s;
    -ms-transition          : 0.2s;
    -o-transition           : 0.2s;
    transition              : 0.2s;
}

.botao_mobile_menu, .menu_mobile { display: none;}

.main_menu nav {
    float                   : right;
    font-size               : 0.8em;
    margin-top              : 52px;
    
    -webkit-transition      : 0.2s;
    -moz-transition         : 0.2s;
    -ms-transition          : 0.2s;
    -o-transition           : 0.2s;
    transition              : 0.2s;
}

header nav li {
    font-family             : Raleway;/**/
    display                 : inline;
    list-style              : none;
}

header nav a {
    color                   : #333;
    margin-left             : 25px;
    font-size               : 12px;
    font-weight             : 400;
    text-decoration         : none;
    text-transform          : uppercase;
    padding-bottom          : 4px;
}

header nav>li:first-child a {
    font-family             : heydings_icons;
    font-size               : 21px;
    padding-bottom          : 7px;
}

header nav a:hover {
    color                   : #F9BF3B;
}

header nav .menu_ativo {
    border-bottom           : 2px solid;
    color                   : #F9BF3B;
}

/*--------------------MAIN MENU FIXED--------------------*/
.main_menu_fixo {
    height                  : 67.5px;
    padding                 : 10px 0 10px 0;
}

.main_menu_fixo .bla_logo {
    width                   : 164px;
    height                  : 47.5px;
}

.main_menu_fixo nav {
    margin-top              : 27px;
}

/*--------------------FIM MAIN MENU--------------------*/

/*--------------------BOAS-VINDAS--------------------*/
.boas_vindas {
    position                : absolute;
    background-image        : url(../img/grid2.png);
    background-color        : rgba(0,0,0,0.5);
    width                   : 100%;
    height                  : 100%;
    top                     : 0;
    left                    : 0;
    text-align              : center;
    overflow                : hidden;
    z-index                 : 1;
}

.boas_vindas .contentor {
    position                : absolute;
    top                     : 40%;
    width                   : 100%;
    max-width               : none;
}

.boas_vindas h1 {
    font-size               : 5em;
    font-weight             : 600;
    color                   : #F9BF3B;
    margin                  : 0 0 25px 0;
}

.boas_vindas h1 span {
    font-size: 0.3em;
    color: #F2F2F2;
    text-transform: none;
}

.boas_vindas h5 {
    font-family             : Raleway;
    font-size               : 1.05em;
    font-weight             : 300;
    letter-spacing          : 0.5px;
    color                   : #FFF;
    margin                  : 0 150px;
}

.boas_vindas h5 b { font-size: 1.25em;}
.boas_vindas h5 span { font-size: 1.3em; color: #F9BF3B; vertical-align: text-top;}

header .fundo_header {
    background-image        : url(../img/video/videoPoster.jpg);
    background-position     : center;
    background-size         : cover;
    position                : fixed;
    width                   : auto;
    height                  : auto;
    min-width               : 100%;
    min-height              : 100%;
    
    -webkit-transform       : translateX(-50%);
    -moz-transform          : translateX(-50%);
    -ms-transform           : translateX(-50%);
    -o-transform            : translateX(-50%);
    transform               : translateX(-50%);
    
    top                     : 0;
    left                    : 50%;
    
    -webkit-z-index         : -1;
    -moz-z-index            : -1;
    -ms-z-index             : -1;
    -o-z-index              : -1;
    z-index                 : -1;
}
/*--------------------FIM | HEADER--------------------*/

/*--------------------CORPO--------------------*/
body>section {
    padding                 : 50px 0 75px 0;
    text-align              : center;
    width                   : 100%;
}

.contentor>p {
    margin                  : 0 100px;
}

/*-----------------------------------------------------------------------------------------------------*/
/*----------------------------------------PAGINA SOBRE A BRIGHT----------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
#sobre {
    background-color        : #FFF;
}

#msgpresidente {
    background-color        : #F2F2F2;
    color                   : #333;
}

#msgpresidente h1 {
    color                   : #F9BF3B;
}

#msgpresidente .conteudo_msgpre {
    float                   : right;
    text-align              : left;
    
    -webkit-width           : calc(100% - 275px);
    -moz-width              : calc(100% - 275px);
    -ms-width               : calc(100% - 275px);
    -o-width                : calc(100% - 275px);
    width                   : calc(100% - 275px);
}

#msgpresidente img {
    float                   : left;
    margin-right            : 25px;
    
    -webkit-border-radius   : 100%;
    -moz-border-radius      : 100%;
    -ms-border-radius       : 100%;
    -o-border-radius        : 100%;
    border-radius           : 100%;
}

#junior_empresa {
    background-color        : #F2F2F2;
    background              : url(../img/blurPoster2.jpg);
    background-position     : center bottom;
    background-size         : cover;
    background-attachment   : fixed;
    color                   : #F2F2F2;
}

#junior_empresa h1 {
    color                   : #F9BF3B;
}

/*--------------------VISAO MISSAO VALORES--------------------*/
#visao_missao_valores {    
    background-color        : #FFF;
    text-align              : left;
    color                   : #333;
}

.vmv {
    margin-bottom           : 50px;
}
.vmv:last-child {
    margin-bottom           : 0;
}

.vmv figure {
    width                   : 150px;
    height                  : 150px;
    border                  : 2px solid #333;
    
    -webkit-border-radius   : 100%;
    -moz-border-radius      : 100%;
    -ms-border-radius       : 100%;
    -o-border-radius        : 100%;
    border-radius           : 100%;
    
    text-align              : center;
    float                   : left;
    margin-right            : 25px;
    box-sizing              : border-box;
}

#bla_visao figure img { margin-top: 58px;}
#bla_missao figure img { margin-top: 25px;}
#bla_valores figure img { margin-top: 25px;}

.vmv .conteudo {
    float                   : left;
    
    width                   : -webkit-calc(100% - 175px);
    width                   : -moz-calc(100% - 175px);
    width                   : -ms-calc(100% - 175px);
    width                   : -o-calc(100% - 175px);
    width                   : calc(100% - 175px);
}

.vmv .conteudo h3 {
    font-family             : Raleway;
    font-size               : 2.25em;
    font-weight             : 600;
    text-transform          : uppercase;
    margin-bottom           : 15px/*0.67em*/;
}

.conteudo h6 {
    font-size               : 1em;
    font-weight             : 700;
    text-transform          : uppercase;
    margin-bottom           : 0.167em;
}

/*--------------------PARCERIAS--------------------*/
#parcerias { background-color: #F2F2F2;}
#parcerias h1 { color: #333;}
#parcerias .contentor { padding: 0 -40px;}
#parcerias .contentor img { margin: 10px 40px;}

/*---------------------------------------------------------------------------------------------------------*/
/*----------------------------------------PAGINA SERVIÇOS DA BRIGHT----------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
.servicos {
    background-color        : #F2F2F2;
}

.servicos h1 {
    color                   : #333;
    margin                  : 15px 0 60px 0;
}
.servicos:nth-child(odd) h1 {
    color                   : #F2F2F2;
}

.servicos:nth-child(odd) {
    background-color        : #333;
}

.servicos figure {
    width                   : 250px;
    height                  : 250px;
    border                  : 2px solid #333;
    margin-right            : 25px;
    
    -webkit-border-radius   : 100%;
    -moz-border-radius      : 100%;
    -ms-border-radius       : 100%;
    -o-border-radius        : 100%;
    border-radius           : 100%;
    
    float: left;
    box-sizing: border-box;
}

#com_estrategica figure img { margin-top: 50px;}
#com_mark_integrado figure img { margin-top: 50px;}
#serv_audiovisuais figure img { margin-top: 62.5px;}
#design_multimedia figure img { margin-top: 52px;}

.servicos:nth-child(odd) figure {
    border                  : 2px solid #F2F2F2;
    box-sizing              : border-box;
}

.servicos .conteudo {
    text-align              : left;
    float                   : left;
    
    width                   : -webkit-calc(100% - 275px);
    width                   : -moz-calc(100% - 275px);
    width                   : -ms-calc(100% - 275px);
    width                   : -o-calc(100% - 275px);
    width                   : calc(100% - 275px);
}

.servicos:nth-child(odd) .conteudo {
    color                   : #F2F2F2;
}


/*-------------------------------------------------------------------------------------------------------*/
/*----------------------------------------PAGINA EQUIPA DA BRIGHT----------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
#direcao_bright {
    background-color        : #FFF;
}

#direcao_bright h1 {
    color                   : #333333;
}

#todos_membros {
    background-color        : #F2F2F2;
}

#bright_alumni {
    background              : url(../img/blurPoster2.jpg);
    background-position     : center top;
    background-size         : cover;
    background-attachment   : fixed;
    color                   : #FFF;
}

#bright_alumni h1 {
    color                   : #F2F2F2;
}

/*--------------------MEMBROS--------------------*/
.membro {
    display                 : inline-block;
    width                   : 25%;
    min-width               : 250px;
    text-align              : center;
    margin                  : 40px -1.5px 0 -1.5px;
}

#direcao_bright .contentor:nth-child(2) .membro:nth-child(-n+3) {
    width                   : 26%;
}

.membro figure {
    background-color        : #333333;
    width                   : 225px;
    height                  : 225px;
    margin                  : 0 auto 10px auto;
    border                  : 10px solid #F9BF3B;
    
    -webkit-border-radius   : 100%;
    -moz-border-radius      : 100%;
    -ms-border-radius       : 100%;
    -o-border-radius        : 100%;
    border-radius           : 100%;
    
    box-sizing              : border-box;
    position                : relative;
    overflow                : hidden;
}

.membro figure img {
    margin                  : -10px 0 0 -10px;
}

.membro figure .redes_membros {
    position                : absolute;
    background-color        : #F2F2F2;
    top                     : 100%;
    width                   : 100%;
    height                  : 30px;
    
    -webkit-transition      : 0.3s;
    -moz-transition         : 0.3s;
    -ms-transition          : 0.3s;
    -o-transition           : 0.3s;
    transition              : 0.3s;
}

.membro figure .redes_membros img {
    margin: 5px 5px;
    
    -webkit-filter          : grayscale(1);
    -moz-filter             : grayscale(1);
    -ms-filter              : grayscale(1);
    -o-filter               : grayscale(1);
    filter                  : grayscale(1);
}

.membro figure:hover .redes_membros {
    top                     : -webkit-calc(100% - 40px);
    top                     : -moz-calc(100% - 40px);
    top                     : -ms-calc(100% - 40px);
    top                     : -o-calc(100% - 40px);
    top                     : calc(100% - 40px);
}

.membro figure .redes_membros img:hover {
    -webkit-filter          : grayscale(0);
    -moz-filter             : grayscale(0);
    -ms-filter              : grayscale(0);
    -o-filter               : grayscale(0);
    filter                  : grayscale(0);
}

.membro h4 {
    font-size               : 1.25em;
}

.membro .separador, .projeto .separador {
    display                 : block;
    background-color        : #F9BF3B;
    width                   : 75px;
    height                  : 3px;
    margin                  : 5px auto;
    
    -webkit-border-radius   : 2px;
    -moz-border-radius      : 2px;
    -ms-border-radius       : 2px;
    -o-border-radius        : 2px;
    border-radius           : 2px;
}

.membro h6 {
    font-family             : Raleway;
    font-size               : 1em;
    font-weight             : normal;
}

/*--------------------CONSELHO CONSULTIVO--------------------*/
#conselho_consultivo {
    background-color        : #F2F2F2;
}

#conselho_consultivo .contentor:last-child { padding: 0 -35px;}

#conselho_consultivo h1 {
    color                   : #333;
}

.membros_cc {
    font-family             : Raleway;
    font-size               : 1.25em;
    display                 : inline-block;
    margin                  : 35px 35px 0 35px;
    /*cursor                  : pointer;
    position                : relative;*/
}

.membros_cc .redes_sociais {
    background-color        : #F9BF3B;
    height                  : 30px;
    /*min-width               : 100%;
    bottom                  : 100%;*/
    margin-top              : -30px;
    display                 : none;
    /*position                : absolute;*/
}

/*.membros_cc .redes_sociais p {
    font-family             : Cabin;
    font-size               : 0.75em;
}

.membros_cc:hover .redes_sociais {
    display                 : block;
}*/

/*--------------------RECRUTAMENTO--------------------*/
#recrutamento {
    background-color        : #333;
    color                   : #F2F2F2;
}

#recrutamento h1 {
    color                   : #F2F2F2;
}

#recrutamento p a {
    color                   : #F9BF3B;
}

#recrutamento p a:hover {
    color                   : #FFFFFF;
}

#recrutamento #botao_recrut {
    display                 : inline-block;
    font-weight             : bold;
    color                   : #F9BF3B;
    text-decoration         : none;
    text-transform          : uppercase;
    margin-top              : 50px;
    padding                 : 0.6em 1em;
    border                  : 0.15em solid #F9BF3B;
    
    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
    -ms-border-radius       : 5px;
    -o-border-radius        : 5px;
    border-radius           : 5px;
    
    box-sizing              : border-box;
}

#recrutamento #botao_recrut:hover {
    background-color        : #F9BF3B;
    color                   : #333333;
}

/*--------------------------------------------------------------------------------------------------*/
/*----------------------------------------PROJETOS DA BRIGHT----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
#nossos_projetos {
    background-color        : #F2F2F2;
}

#nossos_projetos .projeto {
    /*background-image        : url(../img/279H.jpg);*/
    background-size: cover;
    background-position: center;
    
    position                : relative;
    width                   : 260px;
    height                  : 330px;
    margin                  : 10px;
    display                 : inline-block;
    text-align              : center;
    color                   : #F2F2F2;
    vertical-align          : top;
    overflow                : hidden;
}

.projeto .projMarca {
    background-color        : rgba(0,0,0,0.6);
    padding                 : 15px;
    height                  : 330px;
    padding-top             : 140px;
    transition              : 0.5s;
}

.projeto .projMarca h4 {
    font-size               : 1.5em;
}

.projeto .projMarca h6 {
    font-size               : 1em;
}

.projeto .projMarca p {
    font-weight             : normal;
    margin-top              : 125px;
    transition              : 0.5s;
}

#nossos_projetos .projeto:hover .projMarca {
    padding-top             : 15px;
    background-color        : rgba(15,15,15,0.9);
}

#nossos_projetos .projeto:hover .projMarca p {
    margin-top              : 0;
}


/*--------------------------------------------------------------------------------------------------*/
/*----------------------------------------CONTACTO DA BRIGHT----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
#info_contactos {
    background-color        : #FFF;
}

.contact_content {
    width                   : 50%;
    float                   : left;
    box-sizing              : border-box;
}

/*--------------------FORMUARIO DE CONTACTOS--------------------*/
.contact_content:first-child {
    text-align              : left;
    padding-right           : 10px;
}

.contact_content:first-child h4 {
    font-size               : 0.95em;
    font-weight             : normal;
}

.contact_content:first-child p {
    font-family             : Raleway;
    font-size               : 0.8em;
    color                   : #333;
    margin-bottom           : 5px;
}

.contact_content:first-child span {
    font-family             : Heydings_icons;
    font-size               : 1.4em;
    color                   : #F9BF3B;
}

.contact_content:first-child a {
    text-decoration         : none;
    color                   : #AAA;
}

.contact_content:first-child a:hover {
    color                   : #333;
}

.contact_content:first-child .redes_sociais {
    height                  : 55px;
    padding                 : 15px 0;
    box-sizing              : border-box;
}

.contact_content:first-child .redes_sociais img {
    margin                  : 0 15px 0 0;
    opacity                 : 0.5;
    
    -webkit-filter          : invert();
    -moz-filter             : invert();
    -ms-filter              : invert();
    -o-filter               : invert();
    filter                  : invert();
}

.contact_content:first-child .redes_sociais img:hover { opacity: 1;}

/*--------------------FORMUARIO DE CONTACTOS--------------------*/
.contact_form {
    text-align              : left;
    float                   : left;
    width                   : 50%;
    padding                 : 0 10px;
    margin-bottom           : 15px;
    box-sizing              : border-box;
}

.contact_form label {
    font-family             : Raleway;
    font-size               : 0.9em;
    font-weight             : 600;
    color                   : #333;
}

.contact_form input, .contact_text textarea {
    font-family             : inherit;
    font-size               : 0.875em;
    color                   : #AAA;
    background-color        : none;
    width                   : 100%;
    margin-top              : 5px;
    padding                 : 0.65em 0.8em;
    box-sizing              : border-box;
    border                  : none;
    border                  : 1px solid #DDD;
    
    -webkit-border-radius   : 2px;
    -moz-border-radius      : 2px;
    -ms-border-radius       : 2px;
    -o-border-radius        : 2px;
    border-radius           : 2px;
    
    -webkit-transition      : 0.25s;
    -moz-transition         : 0.25s;
    -ms-transition          : 0.25s;
    -o-transition           : 0.25s;
    transition              : 0.25s;
}

.contact_text {
    width                   : 100%;
}

.contact_text textarea {
    height                  : 85px;
    max-height              : 200px;
    resize                  : vertical;
}

.contact_text textarea:hover, .contact_form input:hover {
    border-color            : #F9BF3B;
}

.contact_text textarea:focus, .contact_form input:focus {
    color                   : #555;
    border-color            : #F2F2F2;
    background-color        : #F2F2F2;
    outline                 : none;   
}

.contact_botao p {
    font-family             : Raleway;
    font-size               : 0.85em;
    text-align              : right;
    font-weight             : 700;
}

.contact_botao input {
    font-family             : inherit;
    font-size               : inherit;
    font-weight             : bold;
    color                   : #F9BF3B;
    text-transform          : uppercase;
    padding                 : 0.6em 1em;
    border                  : 0.15em solid #F9BF3B;
    
    -webkit-border-radius   : 5px;
    -moz-border-radius      : 5px;
    -ms-border-radius       : 5px;
    -o-border-radius        : 5px;
    border-radius           : 5px;
    
    box-sizing              : border-box;
    background              : none;
    outline                 : none;
    cursor                  : pointer;
}

.contact_botao input:hover {
    background-color        : #F9BF3B;
    color                   : #FFF;
}

/*--------------------GOOGLE MAP--------------------*/
#map { background-color: #F9BF3B;
    width                   : 100%;
    height                  : 50%;
    min-height              : 250px;
    max-height              : 500px;
    padding                 : 0;
}


/*--------------------------------------------------------------------------------------*/
/*----------------------------------------FOOTER----------------------------------------*/
/*--------------------------------------------------------------------------------------*/

.mapaSite {
    width                   : 100%;
    background-color        : #1A1A1A;
    padding-bottom          : 25px;
    text-align              : center;
    border-bottom           : 2px solid #242424;
}

.mapaSite .inerMapa {
    display                 : inline-block;
    vertical-align          : top;
    margin                  : 25px 15px 0 15px;
    text-align              : left;
}

.mapaSite .inerMapa h4 a {
    color                   : #B2B2B2;
    text-decoration         : none;
}
    
.mapaSite .inerMapa p a {
    color                   : #777;
    text-decoration         : none;
    font-size               : 0.85em;
}

.mapaSite .inerMapa h4 a:hover, .mapaSite .inerMapa p a:hover {
    color: #FFF;
}

footer {
    background-color        : #1A1A1A;
    font-size               : 0.9375em;
    color                   : #555;
    width                   : 100%;
    height                  : 50px;
    overflow                : hidden;
}

footer .redes_sociais {
    float                   : right;
    height                  : 25px;
    margin                  : 12.5px 0;
}

footer .redes_sociais img {
    margin-left             : 15px;
    opacity                 : 0.25;
}

footer .redes_sociais img:hover {
    opacity                 : 1;
}

footer span {
    float                   : left;
    margin                  : 16px 0;
}
